# dependencies
node_modules

# ide
.idea

# production
build
site
storybook-static
public

# build
dist
.cache

# yalc
# https://github.com/whitecolor/yalc#keep-it-out-of-git
.yalc
yalc.lock

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*