name: Release

on:
  push:
    branches:
      - master

env:
  SAFE_CHAIN_MINIMUM_PACKAGE_AGE_HOURS: 288  # 15 days

jobs:
  faency:
    name: Release
    if: github.repository == 'traefik/faency'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: enable corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: yarn

      - name: Setup safe-chain
        run: |
          npm i -g @aikidosec/safe-chain
          safe-chain setup-ci

      - name: Install dependencies
        run: yarn workspaces focus --all --production

      - name: Patch
        run: yarn patch-package

      - name: Build
        run: yarn build

      - name: Release
        run: yarn semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
